.home-div {
  
  background-color: rgb(2, 21, 22);
  background-image: url("./back.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 20px;
  height: 100vh;
  
}

.title {
  
  text-align: center;
  color: crimson;
  font-size: 30px;
  letter-spacing: 5px;
  /* text-shadow: black 5px 5px 3px; */
  word-spacing: 5px;
  border-bottom: solid yellow;
  border-top: solid yellow;
  border-radius: 20px;
  padding: 20px 20px 20px 20px ;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.nav-div {

  background-color: yellow;
  text-align: left;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
  font-size: 20px; 
}

.nav-link {
  
  display: inline-flex;
  font-weight: bolder;
}
span {
  
  margin-left: 10px;
  color: gray;
}
.active-class {

  color: crimson;
}
.product-div {

  background-color: rgb(2, 21, 22);
  height: 100%;
  padding: 20px;
}
.product-div h1 {

  text-align: center;
  color: crimson;
  font-size: 30px;
  letter-spacing: 5px;
  /* text-shadow: black 5px 5px 3px; */
  word-spacing: 5px;
  border-bottom: solid yellow;
  border-top: solid yellow;
  border-radius: 20px;
  padding: 20px 20px 20px 20px ;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.about-div h1 {

  text-align: center;
  color: crimson;
  font-size: 30px;
  letter-spacing: 5px;
  /* text-shadow: black 5px 5px 3px; */
  word-spacing: 5px;
  border-bottom: solid yellow;
  border-top: solid yellow;
  border-radius: 20px;
  padding: 20px 20px 20px 20px ;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;

}
.about-div {

  background-color: rgb(2, 21, 22);
  height: 100vh;
  padding: 10px;
  color: yellow;
  text-align: center;
  font-size: large;
}
.about-div address {

  margin-top: 50px;
  border-top: solid yellow;
  border-bottom: solid yellow;
  border-radius: 20px;
  width: fit-content;
  margin: auto;
  padding: 10px;
}
.shoe-image {

  text-align: center;
}
.shoe-image img{

  max-width: 80vw;
  max-height: fit-content;
  align-content: center;
  border-radius: 10px;
  
}

.shoe-image h2 {

  color: yellow;
  
}
.footer {

 color: crimson; 
 background-color: yellow;
 text-align: center;
 height: max-content;
 padding: 1px;
 font-size: 20px; 
 border-radius: 0px 0px 10px 10px;
}   
  




/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */


