.home-div {
  
  background-color: rgb(2, 21, 22);
  background-image: url("./back.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 20px;
  /* padding-bottom: 300px; */
  height: 100vh;
  /* text-align: center; */
}

.title {
  
  text-align: center;
  color: crimson;
  font-size: 40px;
  letter-spacing: 10px;
  /* text-shadow: black 5px 5px 3px; */
  word-spacing: 10px;
  border-bottom: solid yellow;
  border-top: solid yellow;
  border-radius: 20px;
  padding: 20px 20px 20px 20px ;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
.nav-div {

  background-color: yellow;
  text-align: left;
  padding: 20px;
  
}

.nav-link {
  
  display: inline-flex;
  font-weight: bolder;
  font-size: 20px; 
}
 span {
  
  margin-left: 10px;
  color: black;
}
.product-div {

  background-color: rgb(2, 21, 22);
  height: 100%;
  padding: 20px;
}
.product-div h1 {

  text-align: center;
  color: crimson;
  font-size: 35px;
  letter-spacing: 5px;
  /* text-shadow: black 5px 5px 3px; */
  word-spacing: 10px;
  border-bottom: solid yellow;
  border-top: solid yellow;
  border-radius: 20px;
  padding: 20px 20px 20px 20px ;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.about-div h1 {

  text-align: center;
  color: crimson;
  font-size: 35px;
  letter-spacing: 5px;
  /* text-shadow: black 5px 5px 3px; */
  word-spacing: 10px;
  border-bottom: solid yellow;
  border-top: solid yellow;
  border-radius: 20px;
  padding: 20px 20px 20px 20px ;
  width: max-content;
  margin-left: auto;
  margin-right: auto;

}
.about-div {

  background-color: rgb(2, 21, 22);
  height: 100vh;
  padding: 20px;
}
.shoe-image {

  text-align: center;
}
.shoe-image img{

  max-width: 80vw;
  max-height: fit-content;
  align-content: center;
  border-radius: 10px;
  
}

.shoe-image h2 {

  color: yellow;
  
}



/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */


